@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(180deg, rgba(255, 73, 17, 0.712) 0%, rgba(124, 7, 17, 0.788) 100%);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



button {
  font-family: 'Fredoka';
  margin: 2rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 15rem;
  height: 4rem;
}

p {
  font-family: 'Fredoka';
  margin: 2rem;
}